<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name = "Service" behaviorConfiguration = "ServiceBehavior">
        <!-- Service Endpoints -->
        <endpoint address = "" binding = "basicHttpBinding" contract = "IService">
          <!-- 
                  Upon deployment, the following identity element should be removed or replaced 
                  to reflect the identity under which the deployed service runs. If removed, 
                  WCF will infer an appropriate identity automatically.
               -->

          <identity>
            <dns value="localhost"/>
          </identity>

        </endpoint>
        <endpoint address = "mex" binding = "mexHttpBinding"  contract = "IMetadataExchange"/>

      </service>
      
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name = "ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below 
                  to false before deployment -->

          <serviceMetadata httpGetEnabled = "true"/>

          <!-- To receive exception details in faults for debugging purposes, 
                  set the value below to true. 
                  Set to false before deployment to false avoid 
                  disclosing exception information -->

          <serviceDebug includeExceptionDetailInFaults = "false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>
